<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Daftar Kontak</h2>
            <% if (msg.length !== 0) { %>
            <div class="alert alert-success" role="alert">
                <%= msg %>
            </div>
            <% } %>

            <a href="/contact/add" class="btn btn-primary mb-2">Tambah Data Contact</a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nama</th>
                        <th scope="col">No Telepn</th>
                        <th scope="col">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <% contacts.forEach((contact,i) => { %>
                    <tr>
                        <td><%= i+1 %></td>
                        <td><%= contact.nama %> </td>
                        <td><%= contact.email %> </td>
                        <td>
                            <a href="/contact/<%= contact.nama %> " class="btn btn-primary shadow rounded-pill"><i
                                    class="bi bi-eye-fill"></i></a>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>